@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.Hero {
	height: 100%;
	min-height: 100vh;
	padding: 4rem;
	padding-bottom: 6rem;
	display: flex;
	justify-content: space-between;

	h1 {
		margin-bottom: 1.2rem;
	}
	p {
		font-weight: 300;
		max-width: 780px;
		font-size: 24px;
	}

	.main-text {
		margin-top: auto;
		margin-bottom: 4rem;
	}
	.side-show {
		margin-top: auto;
		margin-bottom: auto;

		width: 320px;
		height: 320px;
		display: grid;
		place-items: center;
		position: relative;

		.txt {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 2rem;
			z-index: 1;
			p {
				font-weight: 600;
			}

			svg {
				width: 30px;
				height: 30px;

				fill: #016eda;
				// radial-gradient(circle at left top, #016eda, #d900c0);
			}

			img {
				width: 64px;
			}
		}

		.robo-robo {
			border: 8px double transparent;
			background-image: linear-gradient(#383a4d, #383a4d),
				radial-gradient(circle at left top, rgb(1, 110, 218), rgb(217, 0, 192));
			background-origin: border-box;
			background-clip: padding-box, border-box;
			transition: all 0.5s;

			position: absolute;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			animation: spin 2s ease-in-out 0s infinite forwards;
		}
	}
}

.Steps {
	padding: 4rem;
	min-height: 50vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	h2 {
		margin: 1.5rem 0;
	}

	.stepList {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		gap: 1rem;
		justify-content: space-between;

		.stepItem {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 0.5rem;
			text-align: center;
			background-color: #191b1f;
			border-radius: 8px;
			padding: 1.25rem;

			.num {
				font-size: 2rem;
				width: 60px;
				height: 60px;
				border-radius: 50%;
				// border: 1px solid #191b1f;
				background-color: #212429;
				display: grid;
				place-items: center;
				padding: 0.5rem;
			}

			.desc {
				color: rgba(255, 255, 255, 0.6);
				font-size: 14px;
			}

			h4 {
				font-weight: 400;
				font-size: 1.25rem;
				margin-bottom: 0.75rem;
			}
		}
	}
}

.Footer {
	padding: 4rem;
	padding-bottom: 4rem;
	background-color: #191b1f;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	gap: 2rem;
	justify-content: space-between;
	font-size: 14px;

	&__txt {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 1.5rem;
		color: rgb(116, 116, 116);

		.legal-links {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 1.5rem;
			color: #ffffff;
		}
	}

	&__icons {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 1.2rem;

		svg {
			width: 20px;
			height: 20px;
			color: rgb(116, 116, 116);
			cursor: pointer;
		}
	}
}

@media screen and (max-width: 1024px) {
	.Hero {
		padding: 1.25rem;
		// display: block;
		flex-direction: column-reverse;

		.main-text {
			// height: 100vh;
			// margin-top: 80%;
			margin-bottom: 30%;
		}
	}

	.Steps {
		padding: 1.25rem;

		.stepList {
			flex-direction: column;
			gap: 2rem;

			.stepItem {
				h4 {
					font-size: 18px;
				}
			}
		}
	}

	.Footer {
		padding: 1.25rem;
		padding-top: 4rem;
		padding-bottom: 4rem;
		flex-direction: column;
		align-items: flex-start;

		&__txt {
			gap: 0.75rem;
		}
	}
}
